.card-header,
.card-footer {
  background-color: #f8f9fa;
  
}
.dc{
    display: flex;
    justify-content: center;
    margin: 50px auto;
}
.abc{
    background-color: #ED7200;
}
/* style Office Reservation */
.sr{
  background-color: #F0FDF4 !important;
  color: #084B22;
  font-size: 18px;
  font-weight: 600;
  border: 3px solid #ED7200 !important;
}